html {
    background-image: url(../Notes/Images/Shinsengumi.jpg);
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

img {
    max-width: 100%;
    height: auto;
}

/* Barrier Overlay */
.image-banner {
    position: relative;
    top: 8x;
    left: 10px;
}

.image-banner img {
    display: block;
}

.banner-description {
    position: absolute;
    bottom: 25px;
    left: 10px;
}

.banner-description p {
    color: red;
}
/* End Banner Overlay */

.container {
    max-width: 940x;
    margin-left: 150px;
    margin-right: 150px;
    background-color: gray;
    background-image: url(../Notes/Images/Satsuma.jpg) left bottom repeat-x, #fff url(../Notes/Images/Choshu.jpg) left top repeat-x; 
    background-repeat: repeat-x;
    background-size: 40px 20px;
    padding-left: 40px;
    box-sizing: border-box;
}

.box1 {
    background-image: url(../Notes/Images/Satsuma-Rebellion-1877-1.jpg) ;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

/* Table Styles */
.col-fave {
    width: 60%;
}

.col-P, col-Q {
    width: 20%;
}

table th {
    text-align: left;
    background-color: rgb(8, 182, 37);
    color:  red;
    text-shadow: 1px 1px 0 rgba(rgb(71, 4, 4), rgb(48, 109, 48), rgb(20, 20, 22), alpha);
        }

table th, table td {
    border: 1px solid color #9e0c0c;
    padding: 10px;
}

table tbody tr:nth-child(even) td {
    background-color: #e5e9dc;
    }

table tr :nth-child(2),
table tr :nth-child(3) {
    text-align: center;
}
/* End Table Styles */

header {
    padding-top: 20px;

    color: #617140;
}

/* Topography */
header h1 {
    margin: 0;
    font-family: Tahoma, Arial, Arial, Helvetica, sans-serif;
    font-size: 165%;
    font-weight:500;
    font-style: normal;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-shadow: 2px 10px 1px #999;
}

header p {
    font-size: 108%;
    margin-top: 10px;
    text-align: justify;
    color: green;
}

header p a {
    text-decoration: none;
}

.p1 p {
    margin-top: 10px;
    text-indent: 25px;
    color: red;
    line-height: 2;
}
/* end Topography */

/* Form Styles */
    form {
        background-color: #ececee;
        padding: 30px 40px;
    }

    .hidden-label {
        position: absolute;
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
    }

    input, select {
        font-family: Tahoma, sans-serif;
        font-size: 100%;
    }

    input[type="email"], input[type="password"], select{
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0 10px;
        height: 40px;
        font-family: Tahoma, sans-serif;
        font-size: 100%;
        margin-bottom: 20px;
        border: 1px solid #cdcdcd;
    }
    
    input[type="email"]:focus, input[type="password"]:focus {
        border: 1px #617140;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.19);
    }

    input[type="submit"] {
        width: 100%;
        display: block;
        box-sizing: border-box;
        background-color: #617140;
        color: #fff;
        padding: 10px 0;
        border: 1px solid #617140;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    input[type= "submit"]:hover,
    input[type= "submit"]:focus {
        border: 1px solid #617140;
        background-color: #999;
    }
/* End Form Styles */

  header {
    padding-top: 20px;

    color: #617140;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

/* Site Navigation*/
.site-nav {
    margin-top: 30px;
}

.site-nav ul {
    margin: 0%;
    padding: 0%;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 25px;
}

.site-nav a {
    text-decoration: none;
    color: #000000;
    font-style: oblique;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
    display: block;
}

.site-nav a:hover {
    background-color: rgb(150, 41, 41);
}
/* End Site Navigation */


.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 70%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.support {
    width: 30%;
    float: left;
    background-color: #e5e9dc;
    background-image: linear-gradient(to bottom, #e5e9dc, #fff);
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.fix {
    clear: both;
}

p {
    color: black;
    font-style: italic;
}

 footer p {
    color: red;
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

 h1 {
    color: rgb(97, 22, 22);
    text-align: center;
    font-size: 165%;
	font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

 header p {
    color: green;
}

aside {
    color: #617140;
}

 header p span {
    color: blue;
}

.highlight {
    color: crimson;
    background-color: yellow;
}

.brand-color {
    color: yellow;
    background-color: blue;
}